DATABASE_URL=postgresql://<user>:<password>@localhost:5432/rest-challenge-db?schema=public
PORT=

JWT_SECRET_KEY=
JWT_EXPIRATION_TIME=

EMAIL_SENDER=
EMAIL_PASSWORD=
JWT_EMAIL_CONFIRMATION_EXPIRATION_TIME=
JWT_EMAIL_CONFIRMATION_SECRET_KEY=